<%- include('partials/head') %>

<body>

    <div class="svg-container">
        <svg id="svg-content" viewBox="0 0 1080 540" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>

    <svg id="card_patterns" xmlns="http://www.w3.org/2000/svg">
        <defs id="defs">
        </defs>
    </svg>

   <script>
      const passedUsername = JSON.parse('<%- JSON.stringify(u) %>');
      const passedRoom = JSON.parse('<%- JSON.stringify(r) %>');
      const passedToken = JSON.parse('<%- JSON.stringify(t) %>');
   </script>

    <script src="js/game-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
    <script src="js/client-models.js"></script>
    <script src="js/client-util.js"></script>
    
</body>

<%- include('partials/footer') %>