<%- include('partials/head') %>

<body>

    <div class="svg-container">
        <svg id="svg-content" viewBox="0 0 1080 540" xmlns="http://www.w3.org/2000/svg"></svg>
        <div class="modal">
            <div class="modal-content">
                <span class="modal-close-button">×</span>
                <h1>Back to main menu?</h1>
                <a id="modal-exit-game-btn" class="modal_button" title="Back to main menu" href="/">Yes</a>
                <a id="modal-continue-game-btn" class="modal_button" title="Continue game" href="#">No</a>
            </div>
        </div>
    </div>

    <svg id="card_patterns" xmlns="http://www.w3.org/2000/svg">
        <defs id="defs">
        </defs>
    </svg>    

    <script>
        const passedUsername = JSON.parse('<%- JSON.stringify(u) %>');
        const passedUserId = JSON.parse('<%- JSON.stringify(i) %>');
        const passedRoom = JSON.parse('<%- JSON.stringify(r) %>');
        const passedSocketJwt = JSON.parse('<%- JSON.stringify(t) %>');
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/game-ui-elements.js"></script>
    <script src="js/game-ui-functions.js"></script>
    <script src="js/client-models.js"></script>
    <script src="js/client.js"></script>
    <script src="js/client-socket-event-listeners.js"></script>
    <script src="js/client-game.js"></script>
    <script src="js/client-util.js"></script>
    
</body>

<%- include('partials/footer') %>